.App {
  font-family: "Roboto", sans-serif;
  margin: 10% 0 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input{
  height: 2rem;
  margin: 10px;
}

button {
  padding: 10px;
}